# Importing CSV files and display them as dataframes
import numpy as np
import pandas as pd
rating_dataset = pd.read_csv("ratings.csv")
rating_dataset = rating_dataset.drop(columns =['timestamp'])
rating_dataset.head()
movie_dataset = pd.read_csv("movies.csv")
#movie_dataset.head()
data = pd.merge(rating_dataset,movie_dataset, left_on='movieId',right_on ='movieId',how='left')
data= data[:200]

data.head()

In [1]:
import pandas as pd
import numpy as np
import random
rating_dataset = pd.read_csv("ratings.csv")
rating_dataset = rating_dataset.drop(columns =['timestamp'])
rating_dataset.head()
movie_dataset = pd.read_csv("movies.csv")
#movie_dataset.head()
data = pd.merge(rating_dataset,movie_dataset, left_on='movieId',right_on ='movieId',how='left') 
unique_user = np.unique(data['userId'])
count =0 
final_data = pd.DataFrame(columns = ['userId','movieId','rating','title','genres'])
for i in range(len(unique_user)):
    if unique_user[count] <= 100:
        rows = data.loc[data['userId'] == unique_user[count]].head(random.randrange(2, 4))
        new_data = pd.DataFrame(np.array(rows),columns=['userId','movieId','rating','title','genres'])
        final_data = final_data.append(new_data)
        count += 1
    else:
        break
final_data = final_data.reset_index(drop=True)
final_data = final_data.astype({"userId": int, "movieId": int,'rating': float, 'title':str, 'genres':str })    
final_data.to_csv('Final_Dataset.csv',index=False)
final_data.head(60)

,userId,movieId,rating,title,genres
0,1,2,3.5,Jumanji (1995),Adventure|Children|Fantasy
1,1,29,3.5,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
2,1,32,3.5,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,2,3,4.0,Grumpier Old Men (1995),Comedy|Romance
4,2,62,5.0,Mr. Holland's Opus (1995),Drama
5,2,70,5.0,From Dusk Till Dawn (1996),Action|Comedy|Horror|Thriller
6,3,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
7,3,24,3.0,Powder (1995),Drama|Sci-Fi
8,3,32,4.0,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
9,4,6,3.0,Heat (1995),Action|Crime|Thriller
10,4,10,4.0,GoldenEye (1995),Action|Adventure|Thriller
11,4,19,3.0,Ace Ventura: When Nature Calls (1995),Comedy
12,5,2,3.0,Jumanji (1995),Adventure|Children|Fantasy
13,5,11,5.0,"American President, The (1995)",Comedy|Drama|Romance
14,6,1,5.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
15,6,3,3.0,Grumpier Old Men (1995),Comedy|Romance
16,7,3,3.0,Grumpier Old Men (1995),Comedy|Romance
17,7,7,3.0,Sabrina (1995),Comedy|Romance
18,7,11,4.0,"American President, The (1995)",Comedy|Drama|Romance
19,8,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
20,8,3,5.0,Grumpier Old Men (1995),Comedy|Romance
21,8,6,3.0,Heat (1995),Action|Crime|Thriller
22,9,356,4.0,Forrest Gump (1994),Comedy|Drama|Romance|War
23,9,858,5.0,"Godfather, The (1972)",Crime|Drama
24,9,1219,3.0,Psycho (1960),Crime|Horror
25,10,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
26,10,11,4.0,"American President, The (1995)",Comedy|Drama|Romance
27,11,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
28,11,10,2.5,GoldenEye (1995),Action|Adventure|Thriller
29,11,19,3.5,Ace Ventura: When Nature Calls (1995),Comedy
30,12,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
31,12,3,3.0,Grumpier Old Men (1995),Comedy|Romance
32,12,5,2.0,Father of the Bride Part II (1995),Comedy
33,13,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
34,13,2,3.0,Jumanji (1995),Adventure|Children|Fantasy
35,13,10,3.0,GoldenEye (1995),Action|Adventure|Thriller
36,14,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
37,14,7,3.5,Sabrina (1995),Comedy|Romance
38,15,10,2.0,GoldenEye (1995),Action|Adventure|Thriller
39,15,11,3.0,"American President, The (1995)",Comedy|Drama|Romance
40,15,14,2.0,Nixon (1995),Drama
41,16,1,3.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
42,16,6,3.0,Heat (1995),Action|Crime|Thriller
43,16,39,4.0,Clueless (1995),Comedy|Romance
44,17,6,4.0,Heat (1995),Action|Crime|Thriller
45,17,110,4.0,Braveheart (1995),Action|Drama|War
46,18,186,4.0,Nine Months (1995),Comedy|Romance
47,18,260,1.0,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
48,19,1,5.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
49,19,3,4.0,Grumpier Old Men (1995),Comedy|Romance
50,20,16,4.0,Casino (1995),Crime|Drama
51,20,19,2.5,Ace Ventura: When Nature Calls (1995),Comedy
52,21,6,4.0,Heat (1995),Action|Crime|Thriller
53,21,16,5.0,Casino (1995),Crime|Drama
54,22,1,3.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
55,22,6,5.0,Heat (1995),Action|Crime|Thriller
56,22,16,5.0,Casino (1995),Crime|Drama
57,23,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
58,23,25,4.0,Leaving Las Vegas (1995),Drama|Romance
59,24,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [2]:
final_data = pd.read_csv("Final_Dataset.csv")

In [3]:
# check if there is any data in any column missing or not available
final_data.isnull().values.any()

False

In [4]:
# find threshold by averging the movie ratings
# get only top5 rated movies per user,threshold is 4.5

maxRating = final_data.loc[final_data['rating'].idxmax()]['rating'] 
toprated_user_movies = final_data.loc[final_data['rating'] >= maxRating/2+1]
toprated_user_movies = toprated_user_movies.sort_values(['userId','rating'],ascending=[True,False])
toprated_user_movies.reset_index(inplace=True, drop=True)
toprated_user_movies.head()

# checking if user has rated a movie multiple times
#toprated_user_movies.duplicated(subset=['userId','movieId'])
# actual data is 20000263 after this step it is 646297

,userId,movieId,rating,title,genres
0,1,2,3.5,Jumanji (1995),Adventure|Children|Fantasy
1,1,29,3.5,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
2,1,32,3.5,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,2,62,5.0,Mr. Holland's Opus (1995),Drama
4,2,70,5.0,From Dusk Till Dawn (1996),Action|Comedy|Horror|Thriller

In [5]:
#Unique Genres
import pandas as pd
unique_genres_pre = pd.DataFrame(columns=['genres'])
#unique_genres_pre['genres'] = unique_genres_pre['genres'].str.split('|')
unique_genres_pre['genres'] = toprated_user_movies['genres'].unique()
unique_genres_pre['genres'] = unique_genres_pre['genres'].str.split('|')
unique_genres = unique_genres_pre['genres']
print(len(unique_genres))

40

In [6]:
# Break up the big genre string into a string array
toprated_user_movies['genres'] = toprated_user_movies['genres'].str.split('|')
# Convert genres to string value
#toprated_user_movies['genres'] = np.array(toprated_user_movies['genres'])
toprated_user_movies['genres'] = toprated_user_movies['genres'].str.join(',')
toprated_user_movies.head()

,userId,movieId,rating,title,genres
0,1,2,3.5,Jumanji (1995),"Adventure,Children,Fantasy"
1,1,29,3.5,"City of Lost Children, The (Cité des enfants p...","Adventure,Drama,Fantasy,Mystery,Sci-Fi"
2,1,32,3.5,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),"Mystery,Sci-Fi,Thriller"
3,2,62,5.0,Mr. Holland's Opus (1995),Drama
4,2,70,5.0,From Dusk Till Dawn (1996),"Action,Comedy,Horror,Thriller"

In [7]:
#target domain
books = pd.read_csv('book_data.csv')
books = books[['book_title','genres','book_rating']]
books = books.dropna(how='any', axis=0)
# Break up the big genre string into a string array
books['genres'] = books['genres'].str.split('|')
# Convert genres to string value
books['genres'] = np.array(books['genres'])

books['length'] = books['genres'].str.len()
books = books.sort_values(['length'])
books = books.drop(columns = ['length'])
maxRating_book = books.loc[books['book_rating'].idxmax()]['book_rating'] 
books = books.loc[books['book_rating'] >= maxRating_book/2+1]
books.reset_index(inplace=True, drop=True)
books.head()

,book_title,genres,book_rating
0,الأيام,[Biography],3.53
1,Biological Big Bang: Panspermia and the Origin...,[Nonfiction],4.50
2,Mugglenet.Com's What Will Happen in Harry Pott...,[Nonfiction],4.20
3,"Crónica del rey cautivo (El último Qassatar, #1)",[Fantasy],4.13
4,Here Before Kilroy,[Fiction],5.00

In [8]:
def book_basedon_movie(genre):
    # finding intersecti:on and recommending books
    data = []
   
    book_titles = []
    scores = []
    ratings = []
    for i,row in books.iterrows():
        movies_set = set(genre)
        books_set = set(row.genres)
        intersection = movies_set.intersection(books_set)
        book_titles.append(row.book_title)
        ratings.append(row.book_rating)
        scores.append(float(len(intersection))/(len(movies_set)+len(books_set)))
    final = pd.DataFrame(columns = ['book_title','score','ratings'])
    final['book_title'] = book_titles
    final['score'] = scores
    final['ratings'] = ratings
    return final


#toprated_user_movies['books'] = books_array

#toprated_user_movies.head()

In [9]:
#unique_genres = unique_genres[:5]
df_books_movies = pd.DataFrame(columns=['genres','books'])
size = len(unique_genres)
books_array = []
genres = []
books_ratings = []
for i in range(size):
    book_df = book_basedon_movie(unique_genres[i])
    #book_df = book_df.loc[book_df['ratings'] >= 3]
    book_df = book_df.sort_values(['score','ratings'],ascending=[False,False]).head(5)
    books_array.append(','.join([str(elem) for elem in book_df['book_title']]))
    #books_ratings=book_df['ratings'].values
    #
    genres.append(','.join(unique_genres[i]))
df_books_movies['genres'] = genres
df_books_movies['books'] = books_array
#df_books_movies['rook_rating'] = books_ratings
#
    
df_books_movies.head()

,genres,books
0,"Adventure,Children,Fantasy",Selections from Harry Potter and the Order of ...
1,"Adventure,Drama,Fantasy,Mystery,Sci-Fi","The 39 Clues Complete Collection,This Book Is ..."
2,"Mystery,Sci-Fi,Thriller","Shannon's Land,Rain of Terror,Repercussions,Do..."
3,Drama,"Miss Perfect,Bluesday,Gabriel's Gate,Diabulus ..."
4,"Action,Comedy,Horror,Thriller","Frostproof,Brazen Violations,Goat Dance,The Gr..."

In [10]:
final = pd.merge(toprated_user_movies,df_books_movies, left_on='genres',right_on ='genres',how='left')
final = final.dropna()
final.to_csv('Recommended_Dataset.csv',index=False)
print(final.isnull().values.any())
final.head()

False

,userId,movieId,rating,title,genres,books
0,1,2,3.5,Jumanji (1995),"Adventure,Children,Fantasy",Selections from Harry Potter and the Order of ...
1,1,29,3.5,"City of Lost Children, The (Cité des enfants p...","Adventure,Drama,Fantasy,Mystery,Sci-Fi","The 39 Clues Complete Collection,This Book Is ..."
2,1,32,3.5,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),"Mystery,Sci-Fi,Thriller","Shannon's Land,Rain of Terror,Repercussions,Do..."
3,2,62,5.0,Mr. Holland's Opus (1995),Drama,"Miss Perfect,Bluesday,Gabriel's Gate,Diabulus ..."
4,2,70,5.0,From Dusk Till Dawn (1996),"Action,Comedy,Horror,Thriller","Frostproof,Brazen Violations,Goat Dance,The Gr..."

In [11]:
Output_data = pd.read_csv('Recommended_Dataset.csv')
Output_data['books'] = Output_data['books'].str.split(',')
Output_data.head()

,userId,movieId,rating,title,genres,books
0,1,2,3.5,Jumanji (1995),"Adventure,Children,Fantasy",[Selections from Harry Potter and the Order of...
1,1,29,3.5,"City of Lost Children, The (Cité des enfants p...","Adventure,Drama,Fantasy,Mystery,Sci-Fi","[The 39 Clues Complete Collection, This Book I..."
2,1,32,3.5,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),"Mystery,Sci-Fi,Thriller","[Shannon's Land, Rain of Terror, Repercussions..."
3,2,62,5.0,Mr. Holland's Opus (1995),Drama,"[Miss Perfect, Bluesday, Gabriel's Gate, Diabu..."
4,2,70,5.0,From Dusk Till Dawn (1996),"Action,Comedy,Horror,Thriller","[Frostproof, Brazen Violations, Goat Dance, Th..."

In [12]:
#testing
print(df_books_movies.loc[df_books_movies['genres']=='Adventure,Children,Fantasy'])

                       genres  \
0  Adventure,Children,Fantasy

                                               books
0  Selections from Harry Potter and the Order of ...

In [13]:
book_ds_csv = pd.DataFrame(columns=['userId','books'])
books = []
users = []
def books_for_users(userID,size):
    book = np.array(Output_data.loc[Output_data['userId']==userID]['books'])
    for i in range(size):
        users.append(userID)
        books.append(book[i])    
        
unique_user = np.unique(Output_data['userId'])


      
for j in range(10):
    size = len(Output_data.loc[Output_data['userId']==unique_user[j]]) 
    books_for_users(unique_user[j],size)

book_ds_csv['userId'] = users
book_ds_csv['books'] = books
book_ds_csv.head()

   userId                                              books
0       1  [Selections from Harry Potter and the Order of...
1       1  [The 39 Clues Complete Collection, This Book I...
2       1  [Shannon's Land, Rain of Terror, Repercussions...
3       2  [Miss Perfect, Bluesday, Gabriel's Gate, Diabu...
4       2  [Frostproof, Brazen Violations, Goat Dance, Th...

In [14]:
book_ds_csv.to_csv('Survey_Dataset.csv',index=False)

# Unique Movie genres tags
unique_genres_pre['genres'] = unique_genres_pre['genres'].str.join(',')
unique_genres_tags = []

for elem in unique_genres_pre['genres']:
    for genre in str(elem).split(','):
        unique_genres_tags.append(str(genre))
        
print(set(unique_genres_tags))

#Unique books genres tags
books = pd.read_csv('book_data.csv')
books = books[:24]

unique_genres_pre_books = pd.DataFrame(columns=['genres'])

unique_genres_pre_books['genres'] =  books['genres'].unique()
unique_genres_pre_books['genres'] = unique_genres_pre_books['genres'].str.split('|')

unique_genres_pre_books['genres']  = unique_genres_pre_books['genres'].str.join(',')
unique_genres_books = unique_genres_pre_books['genres'].unique()
print(len(unique_genres_books))
print(len(books['genres'].unique()))


unique_books_genres_tags = []

for elem in unique_genres_pre_books['genres']:
    for genre in str(elem).split(','):
        unique_genres_tags.append(str(genre))
        
print(set(unique_genres_tags))

Cosine Evaluation

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

# Finding Cosine similarity between genre.
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(unique_genres)
print(tfidf_matrix)
tfidf_matrix1 = tfidf_vectorizer.fit_transform(unique_genres_books)
similarity_matrix = cosine_similarity(tfidf_matrix, tfidf_matrix1)
print("similarity matrix: ", similarity_matrix)